.active{
    background-color: purple !important;
    color: white !important;
}



.exchangesNotFound{
    
    font-size: large;
    font-weight: bold;
    color: purple;

}

.sortRadio{
    display: flex;
    align-items: center;
}
#select{
    
    border-radius: 0.2rem;
    max-height: 2rem;
}
.dummySpan{
    flex-grow: 1;
}